<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <!-- 指定当前当前工厂在monitor中的显示的名字（注：一般和工厂的名字相同）-->
    <dubbo:application name="dubbo-framework-provider"/>

    <!-- 指定注册中心：这里不使用注册中心-->
    <dubbo:registry address="N/A"/>

    <!-- 直连式 连接消费者 -->
    <dubbo:reference id="someService" interface="com.zk.framework.service.api.SomeService"
        url="dubbo://localhost:20880"/>
</beans>